<p id="notice"><%= notice %></p>


  <h1><%= "Students name: #{@student.name}" %></h1>

  <%= image_tag @student.avatar.url %>



  <h2><%= "Students grade: #{@student.grade}" %></h2>



  <h3><%= "Students age: #{@student.age}" %></h3>


<%= link_to 'Edit', edit_student_path(@student), class: 'btn btn-primary' %> |
<%= link_to 'Back', students_path, class: 'btn btn-primary' %>
