<p id="notice"><%= notice %></p>

<h1>Listing Teachers</h1>
<div class='row'>
  <% @teachers.each do |teacher| %>
  <div class='col-md-4'>
    <div class='panel panel-default'>
      <div class='panel-body'>
        <h1><%= teacher.name %></h1>
        <h3><%= teacher.age %></h3>
        <div class='btn-group'>
          <%= link_to 'Show', teacher, class: 'btn btn-default' %>
          <%= link_to 'Edit', edit_teacher_path(teacher), class: 'btn btn-default' %>
          <%= link_to 'Destroy', teacher, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default'%>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>

<%= link_to 'New Teacher', new_teacher_path %>
