<p id="notice"><%= notice %></p>


  <h1><%= "Teachers name: #{@teacher.name}" %></h1>
  <%= image_tag @teacher.avatar.url %>



  <h3><%= "Teachers age: #{@teacher.age}" %></h3>


<%= link_to 'Edit', edit_teacher_path(@teacher) %> |
<%= link_to 'Back', teachers_path %>
