<style>
  body {
    background: <%= @color %>;
  }
</style>
<h1>About Me</h1>
<p>All Good Stuff</p>
<p>My favorite color is <%= @color %></p>
<% if @size > 12 %>
  <p>My shoe size is <%= @size %>. I have big feet.</p>
<% else %>
  <p>My shoe size is <%= @size %></p>
<% end %>
<%= link_to "Blue", about_path(color: "blue"), class: "btn btn-primary" %>
<%= link_to "Red", about_path(color: 'red'), class: 'btn btn-danger' %>
