<p id="notice"><%= notice %></p>

<h1>Listing Pets</h1>
<div class="row">
  <% @pets.each do |pet| %>
    <div class= "col-md-4">
      <div class= "panel panel-default">
        <div class= "panel-body">
        <h1>Name: <%= pet.name %></h1>
        <%= image_tag pet.avatar.url(:medium), class: "img-responsive" %>
        <h2>Breed: <%= pet.breed %></h2>
        <h3>Age: <%= pet.age %></h3>
        <div class= "btn-group">
        <%= link_to 'Show', pet, class: "btn btn-default" %>
        <%= link_to 'Edit', edit_pet_path(pet), class: "btn btn-default" %>
        <%= link_to 'Destroy', pet, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
        </div>
      </div>
      </div>
    </div>
    <% end %>

</div>



<%= link_to 'New Pet', new_pet_path %>
